In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
df=pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [9]:
phillippines=df['Phillippines'].value_counts()
phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
Indonesia=df['Indonesia'].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
Malta=df['Malta'].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
India=df['India'].value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
chiStats[0], chiStats[1]

(3.858960685820355, 0.2771020991233135)

In [15]:
if chiStats[1]>0.05:
  print('accept Null hypothesis')
else:
  print('Reject null hypothesis')

accept Null hypothesis

# The defective % does not varies significantly by centres